<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tasklist/cs/report.css' %}">

    <title>Document</title>
</head>

<body>
    
    <!-- Floating Template Button -->
<div id="template-fab">

    <button id="fab-button">
        📋
    </button>

    <div id="template-panel">

        <h4>Templates</h4>

        <button class="template-option"
                data-template="pm">
            Preventive Maintenance
        </button>

        <button class="template-option"
                data-template="bat">
            Battery Replacement
        </button>

        <button class="template-option"
                data-template="windows">
            Windows Installation
        </button>

    </div>

</div>

    <h1>This should be different</h1>

    
    <form method="post" action="{% url 'create_report' %}" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    
    
    <p>Ticket ID: </p>
    {{ report_form.ticket_id }}
    <table class="info-table">
        <tr>
            <th>Activity Start Time and End Time</th>
            <td class="report_activity">{{ report_form.activity_date }} | {{ report_form.activity_start }} - {{ report_form.activity_end }} </td>
        </tr>
        <tr>
            <th>Reported Problem</th>
            <!-- <td>Testing</td> -->
    <td class="report_activity">

    <div class="field-container">

        {{ report_form.problem }}

        {% if report_form.problem.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.problem.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

    </td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td class="report_activity">{{ report_form.serial_number }}</td>
        </tr>
        <tr>
            <th>Product Number</th>
            <td class="report_activity">{{ report_form.product_number }}</td>
                </tr>
                <tr>
                    <th>Machine Description</th>
                    <td class="report_activity">

    <div class="field-container">

        {{ report_form.machine_description }}

        {% if report_form.machine_description.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.machine_description.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

</td>
        </tr>
        <tr>
            <th>Asset Tag</th>
           <td class="report_activity">

    <div class="field-container">

        {{ report_form.asset_tag }}

        {% if report_form.asset_tag.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.asset_tag.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

</td>
        </tr>
    </table>

    <h3>Technical Report</h3>

    <!-- Formset -->
    <table class="report-table">
        <thead>
            <tr>
                <th></th>
                <th>Mins. Consumed</th>
                <th>Tick Mark</th>
                <th>Troubleshooting</th>
                <th>Successful</th>
                <th>Failed</th>
                <th>Remarks</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="formset-body">
        {% for form in formset %}
        <tr class="form-row">
            <td class="drag-handle">⠿</td>
            <td>{{ form.minutes_consumed }}</td>
            <td>{{ form.tick_mark }}</td>
            <td>{{ form.troubleshooting }}</td>
            <td>{{ form.successful }}</td>
            <td>{{ form.failed }}</td>
            <td>{{ form.remarks }}</td>

            <td>
                <button type="button" class="delete-row button del">−</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <template id="empty-form">
        <tr class="form-row">
        <td class="drag-handle">⠿</td>

        <td>{{ formset.empty_form.minutes_consumed }}</td>
        <td>{{ formset.empty_form.tick_mark }}</td>
        <td>{{ formset.empty_form.troubleshooting }}</td>
        <td>{{ formset.empty_form.successful }}</td>
        <td>{{ formset.empty_form.failed }}</td>
        <td>{{ formset.empty_form.remarks }}</td>
        <td>
            <button type="button" class="delete-row button del">−</button>
        </td>
    </tr>
    </template>

    <button type="button" id="add-row" class="button add">+</button>
    <br /> 
    <br />
    <table class="info-table">
        <tr>
            <th>Parts Installed</th>
            <td class="report_activity">{{ report_form.parts_installed }}</td>
        </tr>
        <tr>
            <th>Parts Needed</th>
            <!-- <td>Testing</td> -->
            <td class="report_activity">{{ report_form.parts_needed }}</td>
        </tr>
        <tr>
            <th>Spare Parts Code</th>
            <td class="report_activity">{{ report_form.spare_parts }}</td>
        </tr>
        <tr>
            <th>CT Code</th>
            <td class="report_activity">{{ report_form.ct_code }}</td>
        </tr>
        <tr>
            <th>FID</th>
           <td class="report_activity">{{ report_form.fid }}</td>
        </tr>
        <tr>
            <th>OS Version</th>
            <td class="report_activity">{{ report_form.os_ver }}</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td class="report_activity">{{ report_form.end_remarks }}</td>
        </tr>
    </table>

    <button type="submit" id="save-form" class="button post">Submit</button>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
</form>

<script src="{% static 'tasklist/js/time.js' %}"></script>
<script src="{% static 'tasklist/js/formset.js' %}"></script>
<script src="{% static 'tasklist/js/templates.js' %}"></script>
<script src="{% static 'tasklist/js/sort.js' %}"></script>
<script src="{% static 'tasklist/js/report.js' %}"></script>


</body>
</html>