<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tasklist/report.css' %}">

    <title>Document</title>
</head>

<body>
    
    <!-- Floating Template Button -->
<div id="template-fab">

    <button id="fab-button">
        📋
    </button>

    <div id="template-panel">

        <h4>Templates</h4>

        <button class="template-option"
                data-template="pm">
            Preventive Maintenance
        </button>

        <button class="template-option"
                data-template="bat">
            Battery Replacement
        </button>

        <button class="template-option"
                data-template="windows">
            Windows Installation
        </button>

    </div>

</div>

    <h1>This should be different</h1>

    
    <form method="post" action="{% url 'create_report' %}" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    
    

    <table class="info-table">
        <tr>
            <th>Activity Start Time and End Time</th>
            <td class="report_activity">{{ report_form.activity_date }} | {{ report_form.activity_start }} - {{ report_form.activity_end }} </td>
        </tr>
        <tr>
            <th>Reported Problem</th>
            <!-- <td>Testing</td> -->
    <td class="report_activity">

    <div class="field-container">

        {{ report_form.problem }}

        {% if report_form.problem.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.problem.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

    </td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td class="report_activity">{{ report_form.serial_number }}</td>
        </tr>
        <tr>
            <th>Product Number</th>
            <td class="report_activity">{{ report_form.product_number }}</td>
                </tr>
                <tr>
                    <th>Machine Description</th>
                    <td class="report_activity">

    <div class="field-container">

        {{ report_form.machine_description }}

        {% if report_form.machine_description.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.machine_description.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

</td>
        </tr>
        <tr>
            <th>Asset Tag</th>
           <td class="report_activity">

    <div class="field-container">

        {{ report_form.asset_tag }}

        {% if report_form.asset_tag.errors %}
            <div class="field-error-wrapper">

                <span class="field-error">
                    !
                </span>

                <span class="error-text">
                    {{ report_form.asset_tag.errors.0 }}
                </span>

            </div>
        {% endif %}

    </div>

</td>
        </tr>
    </table>

    <h3>Technical Report</h3>

    <!-- Formset -->
    <table class="report-table">
        <thead>
            <tr>
                <th></th>
                <th>Mins. Consumed</th>
                <th>Tick Mark</th>
                <th>Troubleshooting</th>
                <th>Successful</th>
                <th>Failed</th>
                <th>Remarks</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="formset-body">
        {% for form in formset %}
        <tr class="form-row">
            <td class="drag-handle">⠿</td>
            <td>{{ form.minutes_consumed }}</td>
            <td>{{ form.tick_mark }}</td>
            <td>{{ form.troubleshooting }}</td>
            <td>{{ form.successful }}</td>
            <td>{{ form.failed }}</td>
            <td>{{ form.remarks }}</td>

            <td>
                <button type="button" class="delete-row button del">−</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <template id="empty-form">
        <tr class="form-row">
        <td class="drag-handle">⠿</td>

        <td>{{ formset.empty_form.minutes_consumed }}</td>
        <td>{{ formset.empty_form.tick_mark }}</td>
        <td>{{ formset.empty_form.troubleshooting }}</td>
        <td>{{ formset.empty_form.successful }}</td>
        <td>{{ formset.empty_form.failed }}</td>
        <td>{{ formset.empty_form.remarks }}</td>
        <td>
            <button type="button" class="delete-row button del">−</button>
        </td>
    </tr>
    </template>

    <button type="button" id="add-row" class="button add">+</button>
    <br /> 
    <br />
    <table class="info-table">
        <tr>
            <th>Parts Installed</th>
            <td class="report_activity">{{ report_form.parts_installed }}</td>
        </tr>
        <tr>
            <th>Parts Needed</th>
            <!-- <td>Testing</td> -->
            <td class="report_activity">{{ report_form.parts_needed }}</td>
        </tr>
        <tr>
            <th>Spare Parts Code</th>
            <td class="report_activity">{{ report_form.spare_parts }}</td>
        </tr>
        <tr>
            <th>CT Code</th>
            <td class="report_activity">{{ report_form.ct_code }}</td>
        </tr>
        <tr>
            <th>FID</th>
           <td class="report_activity">{{ report_form.fid }}</td>
        </tr>
        <tr>
            <th>OS Version</th>
            <td class="report_activity">{{ report_form.os_ver }}</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td class="report_activity">{{ report_form.end_remarks }}</td>
        </tr>
    </table>

    <button type="submit" id="save-form" class="button post">Submit</button>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
</form>


<script>
document.addEventListener("DOMContentLoaded", () => {

    const addButton = document.getElementById("add-row");
    const tbody = document.getElementById("formset-body");

    new Sortable(tbody, {
    animation: 150,
    handle: ".drag-handle",

    onEnd() {
        renumberForms();
        updateEndTime();
    }
});

    

    const totalForms = document.querySelector(
        "#id_form-TOTAL_FORMS"
    );

    addButton.addEventListener("click", () => {

        addRow();

        updateEndTime();

    });
    

    tbody.addEventListener("click", (e) => {

        if (!e.target.classList.contains("delete-row"))
            return;

        const rows = tbody.querySelectorAll(".form-row");

        if (rows.length <= 1) {
            alert("At least one row is required.");
            return;
        }

        e.target.closest("tr").remove();

        renumberForms();

        updateEndTime();
    });

    function renumberForms() {

        const rows = tbody.querySelectorAll(".form-row");

        rows.forEach((row, index) => {

            row.querySelectorAll("input, textarea, select")
                .forEach(field => {

                    field.name =
                        field.name.replace(
                            /form-\d+-/,
                            `form-${index}-`
                        );

                    field.id =
                        field.id.replace(
                            /form-\d+-/,
                            `form-${index}-`
                        );
                });
        });

        totalForms.value = rows.length;
    }

    function addRow() {

        const formNum = Number(totalForms.value);

        let template =
            document.getElementById("empty-form").innerHTML;

        template = template.replace(
            /__prefix__/g,
            formNum
        );

        tbody.insertAdjacentHTML(
            "beforeend",
            template
        );

        totalForms.value = formNum + 1;
    }

    tbody.addEventListener("change", (e) => {

    const target = e.target;

    if (target.matches("input[name$='successful']")) {

        const row = target.closest("tr");

        const failed =
            row.querySelector("input[name$='failed']");

        if (target.checked && failed) {
            failed.checked = false;
        }
    }

    if (target.matches("input[name$='failed']")) {

        const row = target.closest("tr");

        const success =
            row.querySelector("input[name$='successful']");

        if (target.checked && success) {
            success.checked = false;
        }
    }
    });
    document.addEventListener("input", (e) => {

    if (e.target.id === "id_activity_start") {
        updateEndTime();
    }

    if (
        e.target.matches(
            "input[name$='minutes_consumed']"
        )
    ) {
        updateEndTime();
    }
});

updateEndTime();

function loadTemplate(template) {

    // Eraser
    tbody.innerHTML = "";

    totalForms.value = 0;
    // Fill the normal fields
    for (const [fieldName, value] of Object.entries(template.fields)) {

        const field = document.getElementById(`id_${fieldName}`);

        if (!field) continue;

        field.value = value;
    }

     template.rows.forEach(rowData => {

    addRow();

    const row = tbody.lastElementChild;

    row.querySelector("input[name$='minutes_consumed']")
        .value = rowData.minutes_consumed;

    row.querySelector("[name$='tick_mark']")
        .checked = rowData.tick_mark;

    row.querySelector("textarea[name$='troubleshooting']")
        .value = rowData.troubleshooting;

    row.querySelector("input[name$='successful']")
        .checked = rowData.successful;

    row.querySelector("input[name$='failed']")
        .checked = rowData.failed;

    row.querySelector("textarea[name$='remarks']")
        .value = rowData.remarks;

});

    renumberForms();
    updateEndTime();

}

const fabButton = document.getElementById("fab-button");
const templatePanel = document.getElementById("template-panel");

fabButton.addEventListener("click", () => {
    templatePanel.classList.toggle("show");
});

const templates = {

    pm: {

        fields: {

            problem: "Preventive Maintenance",
            machine_description: "HP Laptop 15s",
            asset_tag: "N/A",
            serial_number: "",
            product_number: "",
            parts_installed: "",
            parts_needed: "",
            spare_parts: "",
            ct_code: "",
            fid: "",
            os_ver: "",
            end_remarks: "Preventive Maintenance has been completed",
        },

        rows: [
        
            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Checked and Verified Unit",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power On",
                successful: true,
                remarks: "Able to boot"
            },
            
            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power off",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Disassembled Base Enclosure",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Disassembled Battery",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Disassembled RAM",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Disassembled heat sink and fan",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 5,
                tick_mark: true,
                troubleshooting: "Remove and clean old thermal paste",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 5,
                tick_mark: true,
                troubleshooting: "Assembled all components",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Assembled battery",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Assembled base enclosure",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power on",
                successful: true,
                remarks: "Able to boot"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Test (System Board) Test",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Processor Check)",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Memory)",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (SSD) 1st Test",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 25,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (SSD) 2nd Test",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Keyboard)",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Fan Speed) Test",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Fan Thermal) Test",
                successful: true,
                remarks: "PASS ID:"
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power off",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Turn over to",
                successful: true,
                remarks: ""
            }

        ]

    },
    
    bat: {

        fields: {

            problem: "Laptop is not charging",
            serial_number: "",
            machine_description: "HP Laptop 15s",
            product_number: "",
            asset_tag: "",
            parts_installed: "",
            parts_needed: "",
            spare_parts: "",
            ct_code: "",
            fid: "",
            os_ver: "",
            end_remarks: "Resolved - New Battery",
        },

        rows: [
        
            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Checked and Verified Unit",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Disassembled Base Enclosure",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Removed old battery",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Installed new battery",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power on",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Power on",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Battery Test)",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (Keyboard Test)",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Run Diagnostic Tool (System Fast Test) Processor | Battery SSD Wireless Module System Board",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Charged unit",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Stressed Test Battery",
                successful: true,
                remarks: ""
            },

            {
                minutes_consumed: 2,
                tick_mark: true,
                troubleshooting: "Turnover to OSS",
                successful: true,
                remarks: ""
            },

        ]

    }

};

document.querySelectorAll(".template-option")
.forEach(button=>{

    button.addEventListener("click",()=>{

        const template =
            templates[button.dataset.template];

        loadTemplate(template);

        templatePanel.classList.remove("show");
    });

});

});

    function updateEndTime() {

    const startField =
        document.getElementById("id_activity_start");

    const endField =
        document.getElementById("id_activity_end");

    if (!startField || !endField || !startField.value) {
    return;
    }

    let totalMinutes = 0;

    document
        .querySelectorAll(
            "input[name$='minutes_consumed']"
        )
        .forEach(input => {

            totalMinutes +=
                Number(input.value || 0);
        });

    const [hours, mins] =
        startField.value.split(":").map(Number);

    const startDate = new Date();

    startDate.setHours(hours, mins, 0, 0);

    startDate.setMinutes(
        startDate.getMinutes() + totalMinutes
    );

    const endHours =
        String(startDate.getHours())
            .padStart(2, "0");

    const endMins =
        String(startDate.getMinutes())
            .padStart(2, "0");

    endField.value =
        `${endHours}:${endMins}`;
}
</script>
</body>
</html>