<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tasklist/reportForm.css' %}">

    <title>Document</title>
</head>
<body>
<h1>Technical Report</h1>

<div class="report-container">
<div id="report-content">

<table
    border="1"
    cellspacing="0"
    cellpadding="5"
    style="border-collapse: collapse; width: 100%;">
    <p class="ticketname">
    FS ID: {{ticket.id}} <br/>
    SERIAL NUMBER: {{ticket.serial_number}}</p>
    <tr>
            <th style="background: #ececec;"">Activity Start Time and End Time</th>
            <td style="background: #ececec;" class="report_activity">{{ report.activity_date }} | {{ report.activity_start }} - {{ report.activity_end }} </td>
        </tr>
        <tr>
            <th>Reported Problem</th>
            <td class="report_activity">{{ report.problem }}</td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td class="report_activity">{{ report.serial_number|default:"N/A" }}</td>
        </tr>
        <tr>
            <th>Product Number</th>
            <td class="report_activity">{{ report.product_number|default:"N/A" }}</td>
        </tr>
        <tr>
            <th>Machine Description</th>
           <td class="report_activity">{{ report.machine_description }}</td>
        </tr>
        <tr>
            <th>Asset Tag</th>
            <td class="report_activity">{{ report.asset_tag }}</td>
        </tr>
</table>

<table class="report-title">
    <tr>
        <td colspan="5">Technical Report</td>
    </tr>
</table>

<table class="report-table">
    <thead>
        <tr>
            <th>Mins. Consumed</th>
            <th>Tick Mark</th>
            <th>Troubleshooting</th>
            <th>Successful</th>
            <th>Failed</th>
            <th>Remarks</th>
        </tr>
    </thead>

    <tbody>
        {% for step in steps %}
        <tr>
            <td>{{ step.minutes_consumed }}</td>
            <td>
                {% if step.tick_mark %}✓{% endif %}
            </td>
            <td>{{ step.troubleshooting }}</td>
            <td>
                {% if step.successful %}✓{% endif %}
            </td>
            <td>
                {% if step.failed %}✓{% endif %}
            </td>

            <td>{{ step.remarks }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table
    border="1"
    cellspacing="0"
    cellpadding="5"
    style="border-collapse: collapse; width: 100%;">

    <tr>
        <th>Parts Installed</th>
        <td>{{ report.parts_installed|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>Parts Needed</th>
        <td>{{ report.parts_needed|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>Spare Parts Code</th>
        <td>{{ report.spare_parts|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>CT Code</th>
        <td>{{ report.ct_code|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>FID</th>
        <td>{{ report.fid|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>Remarks</th>
        <td>{{ report.end_remarks|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>OS Version</th>
        <td>{{ report.os_ver|default:"N/A" }}</td>
    </tr>
</table>
</div>
</div>
<button type="button" id="copy-report" class="button post">Save to clipboard</button>

<script>
document.getElementById("copy-report")
.addEventListener("click", async () => {

    const range = document.createRange();
    const report = document.getElementById("report-content");

    range.selectNode(report);

    const selection = window.getSelection();
    selection.removeAllRanges();
    selection.addRange(range);

    try {
        document.execCommand("copy");
        alert("Copied!");
    } catch (err) {
        console.error(err);
        alert("Copy failed");
    }

    selection.removeAllRanges();
});
</script>
</body>
</html>