body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th {
    border: 1px solid #d0d0d0;
    padding: 4px;
    text-align: center;
}

td {
    border: 1px solid #d0d0d0;
    padding: 4px;
    text-align: center;
}

h3 {
    text-align: center;
}

th {
    background: #f2f2f2;
    font-weight: bold;
}

.report_activity {
    padding: 2px;
    display: flex;
    justify-content: center;

}

textarea::placeholder {
    text-align: center;
}

.report-table input[type="text"],
.report-table textarea {
    width: 100%;
    box-sizing: border-box;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 18px;
    text-align: center;
    margin: 2px 1px;
    color: white;
    display: inline-block;
}

.button:hover {
    filter: brightness(110%);
}

.add {
    background-color: #339933;
}

.post {
    background-color: #0066cc;
}

.del {
    background-color: #cc0000;
}

#id_activity_end {
    background-color: #d9d9d9;
}


/* report.html */

.email-report-summary,
.email-report-details {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.email-report-summary th,
.email-report-summary td,
.email-report-details th,
.email-report-details td {
    border: 1px solid #d0d0d0;
    padding: 4px;
    vertical-align: top;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.field-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.field-error-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.field-error {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: red;
    color: white;

    font-weight: bold;
    font-size: 14px;
}

.error-text {
    color: red;
    font-size: 0.9rem;
}

input:invalid,
textarea:invalid {
    border: 2px solid red;
} 
/* I have gone slightly insane */